body{
    background-color:silver;
}

h1 {
    font-size: 32px;
    color:dimgrey;
    background-color:lightgrey;
    font-style: italic;
    padding-bottom: 1px;
    padding-left: 2px;
    padding-right: 2%;
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
}

ul {
    list-style-type: none;
    margin: 1px;
    padding: 1px;
    width: 100px;
    position: fixed;
    height: 100%;
    overflow: auto;
}

li a {
    display: block;
    color: #000;
    padding: 8px 0 8px 16px;
    text-decoration: blink;
    text-align: center;
    border: 1px solid #555;
    font-size: 12px;
}

li a.active {
    background-color: #58BCD5;
    color: white;
}

li a:hover:not(.active) {
    background-color: #555;
    color: white;
}

h2 {
    margin-left:150px;
}

p {
    margin-left:150px;
}
footer {
    position:fixed;
    bottom:0;
    font-size: 14px;
    color:dimgrey;
    background-color:lightgrey;
    padding-bottom: 1px;
    padding-left: 2px;
    padding-right: 2%;
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
}
.fb-like {
    font-size: 14px;
    color:dimgrey;
    background-color:lightgrey;
    padding-bottom: 1px;
    padding-left: 2px;
    padding-right: 2%;
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
}
