body {
    background-color: white;
}
header{
    margin-left: auto;
    margin-right: auto;
    width: 45%;
    min-width: 18.5em;
    text-align: center;
}
ul.nav.navbar-nav li a{
    color: white;
    font-size: 12px;
}
ul li ul.dropdown-menu li a {
    display: block;
    padding: 14px 16px;
    min-width: 3em;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: transparent;
    overflow: inherit;
}
nav ul li {
    float: left;
    border:1px solid #bbb
}
nav ul li a {
    display: block;
    background: #4388ff;
    padding: 14px 16px;
    text-decoration: none;
}
nav ul li a:hover {
    background: #FFFFFF;
    color: #000000;
}
nav li:hover ul {
    display: block;
    position: absolute;
}
nav li:hover li {
    float: none;
}
nav li:hover li a:hover {
    background: #FFFFFF;
    color: #000000;
}
.navbar-default {
    background-color: transparent;
    border-color: transparent;
    margin-left: 6.5em;
}
.navbar-default .navbar-nav .active a, .navbar-default .navbar-nav .active a:focus, .navbar-default .navbar-nav .active a:hover {
    background: blue;
    color: white;
}
h1 { /* Title Header */
    font-size: 3em;
    color: darkgray;
    font-style: italic;
    padding-bottom: 1px;
    padding-left: 2px;
    padding-right: 2%;
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
}
h2 { /* Page Header */
    color: #4388ff;
    margin-left: 2px;
    font-size: 2.5em;
    margin-bottom: 0;
}
h3 { /* Sub-Title Header */
    color: #1d3cff;
    margin: 2%;
    padding: 0;
    font-size: 2em;
}
h4 { /* Announcement Header */
    font-size: 2.5em;
    color: red;
    margin: 0;
    text-align: center;
}
h5 {
    font-size: 1.1em;
}
#midcol p {
    margin-left: 2%;
}
#rightcol p {
    margin-left: 2%;
}
#container h3 {
    margin: 0.5em 0 0 0;
}
#container {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}
#leftcol {
    margin-right: 5px;
    overflow: auto;
    width: 7em;
}
#midcol {
    padding-bottom: 10px;
    margin-left: 8em;
    margin-top: -2.5%;
    width: 60%;
    float: left;
    text-align: left;
}
#wordsss {
    text-align: center;
}
#words {
    text-align: center;
}
#rightcol {
    margin: 1em;
    width: 20%;
    float: left;
    text-align: left;
}
#eventcolbox {
    background-color: saddlebrown;
}
#eventcolbox p {
    display: block;
}
#imgcol {
    margin-left: 2em;
    float: left;
    clear: left;
    margin-bottom: 5em;
}
#imgcolright {
    background-color: saddlebrown;
    float: left;
    overflow: auto;
    margin: 4em 1em 2em 2em;
}
#donatebox {
    width: 260px;
    padding: 16px;
    border: 5px solid #4388ff;
    margin: 9px ;
    color: #4388ff;
    text-align: center;
}
#announcementbox {
    clear: both;
    border: dotted #000000;
    min-width: 19em;
    text-align: center;
}
#supporterstbox {
    clear: both;
    border: dotted #000000;
    min-width: 19em;
    text-align: center;
}
#ticketsbox {
    width: 260px;
    padding: 16px;
    border: 5px solid #4388ff;
    margin: 9px ;
    color: #4388ff;
    text-align: center;
}
#rules {
    width: 260px;
    padding: 16px;
    border: 5px solid #4388ff;
    margin: 9px ;
    color: #4388ff;
    text-align: center;
}
#ticketsboxs1 {
    width: 267px;
    padding: 16px;
    border: 5px solid #4388ff;
    margin: 9px 9px 9px 0;
    color: #4388ff;
    text-align: center;
}
#ticketsboxs2 {
    width: 267px;
    padding: 16px;
    border: 5px solid #4388ff;
    margin: 9px 9px 9px 0;
    color: #4388ff;
    text-align: center;
}
#repertoire {
    width: 260px;
    padding: 16px;
    border: 5px solid #4388ff;
    margin: 9px ;
    color: #4388ff;
    text-align: center;
}
footer {
    padding: 10px;
    background-color: lightgrey;
    color: dimgrey;
    text-align: center;
    font-size: 14px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border: groove lightblue;
    clear: both;
}
.fb-like {
    font-size: 14px;
    color: dimgrey;
    background-color: lightgrey;
    padding-bottom: 1px;
    padding-left: 2px;
    padding-right: 2%;
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
}
input {
    display: inline;
    margin-left: 5px;
    max-width: 10em;
}
button {
    margin: 0 0 0 8%;
}
@media (min-width:51em)
{
    header {
        width: 80%;
        text-align: left;
        padding-left: 25px;
    }
    #midcol {
        width: 52%;
        /*background-color: red;*/
    }
    #announcementbox  { width: 25%; }
    nav {
        margin-left: 8em;
    }
}
@media (min-width:35em) and (max-width:51em) {
    nav {
        margin-left: 6.5em;
    }
}
@media (min-width:10em) and (max-width:35em) {
    #left {
        width: 0;
    }
    #midcol {
        margin: 0 0 2px 2px;
        width: 100%;
    }
    #announcementbox {
        width: 19em;
        margin-left: -1em;
        visibility: hidden;
    }
    nav {
        margin-left: 6em;
    }
}
/*for events page*/
#test2 {
    margin-top: 2%;
    text-align: left;
    background-color:#4388ff;
    padding:10px;
    height:540px
}
h6 {
    text-align:left;
    font-weight:bold;
    font-size:14pt;
    color:white;
}
#test4 {
    font-size : 10pt;
    font-weight : normal;
    color:#000000;
}
#test5 {
    text-align: left;
    text-decoration:none;
    height:60px;
    border:2px solid black;
    margin : 2px 5px 2px 5px;
    padding : 2px 5px 2px 5px;
    background-color:white;
    color:black;
}
#test6 {
    text-align:left;
    text-decoration:none;
    font-weight:normal;
    font-size:10pt;
}
/*for events page*/
#test2 {
    margin-top: 2%;
    text-align: left;
    background-color:#4388ff;
    padding:10px;
    height:540px
}
h6 {
    text-align:left;
    font-weight:bold;
    font-size:14pt;
    color:white;
}
#test4 {
    font-size : 10pt;
    font-weight : normal;
    color:#000000;
}
#test5 {
    text-align: left;
    text-decoration:none;
    height:60px;
    border:2px solid black;
    margin : 2px 5px 2px 5px;
    padding : 2px 5px 2px 5px;
    background-color:white;
    color:black;
}
#test6 {
    text-align:left;
    text-decoration:none;
    font-weight:normal;
    font-size:10pt;
}
